<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-dark" [containerInside]="false">
  
    <div class="header"></div>
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li [class]="(currentRoute.includes('home') || currentRoute === '/') ? 'nav-item active' : 'nav-item'" >
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/">Crypto Currencies</a>
        </li>
        <li *ngIf="loginState" [class]="currentRoute.includes('my-symptoms') ? 'nav-item active' : 'nav-item'">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/my-symptoms">My Symptoms</a>
        </li>
  
      </ul>
      <!-- Links -->
  
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <span *ngIf="userEmail" class="P-user-email">{{userEmail}}</span>
        <li *ngIf="!loginState" class="nav-item">
            <button type="button" class="btn btn-light btn-rounded" (click)="openLoginModal()">Login</button>
        </li>
        <li *ngIf="loginState" class="nav-item">
          <button type="button" class="btn btn-light btn-rounded" (click)="logout()">Log Out</button>
      </li>
      </ul>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->