<div clickOutside (close)="close()" mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <input type="text" id="orangeForm-name" class="form-control" [formControl]="signupFormModalName"
            mdbInput mdbValidate>
          <label for="orangeForm-name">Your name</label>
        </div>
        <div class="md-form mb-5">
          <input type="email" id="orangeForm-email" class="form-control" [formControl]="signupFormModalEmail"
            mdbInput mdbValidate>
          <label for="orangeForm-email">Your email</label>
        </div>
        <div class="md-form mb-4">
          <input type="password" id="orangeForm-pass" class="form-control"
            [formControl]="signupFormModalPassword" mdbInput mdbValidate>
          <label for="orangeForm-pass">Your password</label>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="dark" class="waves-light btn-rounded" mdbWavesEffect>Sign up</button>
      </div>
    </div>
  </div>
</div>