<div class="P-container">
  <div class="P-top-items">
    <div class="P-email">
      <h2>Your Email :</h2>
      <h1>{{email}}</h1>
    </div>

    <div>
      <button mdbBtn gradient="sunny-morning" mdbWavesEffect (click)="createSymptom()">SAVE</button>
    </div>
  </div>

  <div class="P-symptom-row" >
      <div class="P-flex P-symptom-name">
        <input placeholder="Title" [class.P-error]="symptomCreateRM.errors.title" [(ngModel)]="symptomCreateRM.title">
      </div>
      <div class="P-criteria" *ngFor="let item of symptomCreateRM.criterias; let index = index">
        <div class="P-flex">
            <app-dropdown [list]="cryptosList" [error]="item.errors.cryptoId" [(value)]="item.cryptoId" placeholder="Cryptocurrency" class="P-mr-2"></app-dropdown>
            <app-dropdown [list]="operationsList" [error]="item.errors.operation" [(value)]="item.operation" placeholder="Operation" class="P-mr-2 P-dropdown"></app-dropdown>
            <input placeholder="Amount in USD" [class.P-error]="item.errors.price" [(ngModel)]="item.price" type="number">
          </div>
      
          <div class="P-flex">
            <i *ngIf="symptomCreateRM.criterias.length > 1" (click)="deleteCriteria(item.id)" class="P-icon-delete icon-ic_delete"></i>

            <div class="P-icon-plus" *ngIf="index === 0" (click)="addCriteriaRow()">
              <i class="fontello-icon-plus"></i>
            </div>
          </div>

      </div>

  </div>

</div>
