<div class="P-container">
  <div class="P-top-items">
    <div class="P-email">
      <h2>Your Email :</h2>
      <h1>{{email}}</h1>
    </div>

    <div>
      <button mdbBtn gradient="peach" mdbWavesEffect routerLink="/create-symptom">CREATE SYMPTOM</button>
    </div>
  </div>


  <div class="P-symptom-row" *ngFor="let item of symptomsList; let index = index">
    <div class="P-symptom-name">
        <div>
            <span *ngIf="!item.isEditName" style="margin-right: 20px;">{{item.title}}</span>
            <input *ngIf="item.isEditName" [(ngModel)]="item.title" [class.P-error]="item?.errors?.title" placeholder="Title" style="margin-right: 20px; font-size: 18px;">
            <i *ngIf="!item.isEditName" class="fontello-icon-pencil" (click)="item.isEditName = true"></i>
            <i *ngIf="item.isEditName" class="fontello-icon-ok" (click)="saveSymptomTitle(item)"></i>
        </div>
    
        <i (click)="deleteSymptom(item.id)" class="P-icon-delete fontello-icon-cancel"></i>
    </div>
    <div class="P-criteria" *ngFor="let criteria of item.criterias">
      <div *ngIf="!criteria.isEdit" class="P-flex">
        <div class="P-crypto-block">
          <img *ngIf="criteria.crypto.image" [src]="criteria.crypto.image" width="20px">
          <span class="P-mr-1">{{criteria.name}}</span>
          <span class="P-mr-1">{{OperationTypeEnum[criteria.operation]}}</span>
          <span>{{criteria.price}}</span>
        </div>

      </div>
      <div *ngIf="criteria.isEdit" class="P-flex">
        <app-dropdown [list]="cryptosList" [error]="criteria?.errors?.cryptoId" [(value)]="criteria.crypto.id" placeholder="Cryptocurrency" class="P-mr-2 P-ml-2 P-dropdown"></app-dropdown>
        <app-dropdown [list]="operationsList" [error]="criteria?.errors?.operation" [(value)]="criteria.operation" placeholder="Operation" class="P-mr-2 P-dropdown"></app-dropdown>
        <input [(ngModel)]="criteria.price" type="number" [class.P-error]="criteria?.errors?.price" placeholder="Amount in USD">
      </div>
      <i *ngIf="!criteria.isEdit" class="fontello-icon-pencil" (click)="criteria.isEdit = true"></i>
      <i *ngIf="criteria.isEdit" class="fontello-icon-ok" (click)="saveCriteriaEdit(criteria)"></i>

    </div>
  </div>

  <div class="P-empty-block" *ngIf="!symptomsList.length">Your Symptoms List Is Empty</div>

</div>
