<div class="P-container">
  <div class="P-top-items">
    <div class="P-email">
      <h2>Your Email :</h2>
      <h1>{{email}}</h1>
    </div>

    <div>
      <button mdbBtn gradient="peach" mdbWavesEffect routerLink="/create-symptom">CREATE SYMPTOM</button>
    </div>
  </div>


  <div class="P-symptom-row" *ngFor="let item of symptomsList; let index = index">
    <div class="P-symptom-name">
        <span>{{item.name}}</span>
        <i (click)="deleteSymptom(index)" class="P-icon-delete fontello-icon-cancel"></i>
    </div>
    <div class="P-criteria" *ngFor="let criteria of item.criterias">
      <div *ngIf="!criteria.isEdit" class="P-flex">
        <div class="P-crypto-block">
          <img *ngIf="criteria.image" [src]="criteria.image" width="20px">
          <span class="P-mr-1">{{criteria.name}}</span>
          <span class="P-mr-1">{{TransactionTypeEnum[criteria.value]}}</span>
          <span>{{criteria.price}}</span>
        </div>

      </div>
      <div *ngIf="criteria.isEdit" class="P-flex">
        <app-dropdown [list]="criteriasList" [(value)]="rowValue" placeholder="Crypto" class="P-mr-2"></app-dropdown>
        <app-dropdown [list]="operationsList" [(value)]="criteria.value" placeholder="Operation" class="P-mr-2"></app-dropdown>
        <input [(ngModel)]="criteria.price" placeholder="Amount in USD">
      </div>
      <i *ngIf="!criteria.isEdit" class="fontello-icon-pencil" (click)="criteria.isEdit = true"></i>
      <i *ngIf="criteria.isEdit" class="fontello-icon-ok" (click)="criteria.isEdit = false"></i>

    </div>
  </div>


</div>
